<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/app.css")
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Sawarabi+Gothic&display=swap" rel="stylesheet">
    title Express と GraphQL の開発環境の構築のガイド
  body
    .container
      block body
    .footer
      | &copy; 2019 by Karol Moroz. Licensed under BSD-3 license.