$light-grey: #fafafa
$dark-grey: #333
$font-jp: Hiragino Kaku Gothic ProN, "メイリオ", meiryo
$font-sans: "Open Sans", $font-jp, sans-serif
$font-code: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", "Ubuntu Mono derivative Powerline", $font-jp, monospace

html
  font-size: 16px

body
  margin: 0
  color: #000
  min-height: 100vh
  display: flex
  flex-direction: column
  font-family: $font-sans

h1
  color: $dark-grey
  text-align: center

.container
  max-width: 800px
  margin: 0 auto
  flex: 1

p
  font-size: 1.25rem
  line-height: 1.7

.footer
  text-align: center
  background: $light-grey
  font-size: .8em
  color: $dark-grey
  margin-top: 2rem
  min-height: 6rem
  display: flex
  justify-content: center
  align-items: center

pre
  padding: 1.2rem 1.5rem
  background: $light-grey
  line-height: 1.45
code
  font-family: $font-code

img
  max-width: 100%